<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<style>
  .preserve-input{
    white-space: pre;
  }
  
</style>
<div class="panel panel-default">
  <div class="panel-heading"><p><h3>Employment Information</h3></p>
  </div>
  <div class="panel-body">
    <p>Education</p>
    <p.preserve-input><%=@user.education%></p>
    <p>Work Experience</p>
    <p.preserve-input><%=@user.experience%></p>
    <p>Skills</p>
    <p.preserve-input><%=@user.skills%></p>
    
  </div>
</div>
