<style>
.list-group-item{
	background: #222;
	border-color: black;
}

a{
	color: #eee;
}
a:hover{
	text-decoration: none;
	color: #777;
}
</style>

<h1>Start Searching for Jobs</h1><br>
<div class="input-group input-group-lg">
  <input type="text" class="form-control" placeholder="Search job...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
  </span>
</div><!-- /input-group -->
<br><br>
<h1>Latest Job Postings</h1>
<br>
<%= render :partial => "/jobs/jobs_list"%>
<a href="<%=jobs_path%>" class="btn btn-default btn-lg">Full List of Jobs</a>