<meta name="google-site-verification" content="Sr0A1jWscDJWlBcrRjWRLuaHGy5BdGaQVsBEoT0dIks" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77125901-1', 'auto');
  ga('send', 'pageview');

</script>

<h1 class="cover-heading">All North American Energy Jobs</br>
    on One Site</h1>
    <h3 align="center">Job Hunting just got Easier. Search Curated Jobs Now! Beta is now open to everyone. </h3>
        <p class="lead">
          <a href="<%=new_user_registration_path%>" class="btn btn-lg btn-default">Get Started Now</a>
      </p>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">How It Works</h2>
        <h3 class="section-subheading text-muted"></h3>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <%= image_tag("Apply.jpg", class: "embedded-image")%>

        <h4 class="service-heading">Submit Your Info</h4>
        <p class="text-muted">You don't have to fill out multiple applications, we do that for you. Decrease time spent on filling applications, increase time-to-market and be part of a curated list of oil and gas talent. </p>
    </div>
    <div class="col-md-4">
       <%= image_tag("Calendar.jpg", class: "embedded-image")%>
        <!-- </> <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
            <!--  </span> -->
            <h4 class="service-heading">We Match You</h4>
            <p class="text-muted">We create a super-efficient way for talent in the oil and gas industry to get exposed to new opportunities with great companies.</p>
        </div>
        <div class="col-md-4">
   <!--      <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
            <%= image_tag("Posting.jpg", class: "embedded-image")%>
            <!-- </span> -->
            <h4 class="service-heading">Get A Job</h4>
            <p class="text-muted">Join the company that's right for you. There are pending jobs ranging from $75,000 to $250,000 from Precision Drilling in Canada to Schlumberger all over the world.</p>
        </div>
    </div><br>
    <br>


    <div class="row">
        <div class="col-lg-12 text-center" "span6="" offset3"="">
            <h4 class="section-subheading text-mute">Are you looking to HIRE talented individuals in oil and gas?</h4>
            <p class="lead">
              <a href="recruiter" class="btn btn-lg btn-default">Start Posting Jobs Now</a>
          </p>
      </div>