<% if @post.created_at < 3.months.ago %>
  <a href="#" class="btn btn-danger btn-lg btn-block">EXPIRED</a>
<% elsif current_user %>

  <a href="/" class="btn btn-primary btn-lg btn-block">Apply
  </a>
  <!-- NOT SURE WHAT TO DO WHEN SOMEONE CLICK APPLY BUTTON -->
  
<!-- TODO, redirect back to this page after resume upload -->
<% end %>
