<div class="row">
  <div class="col-lg-2">
    
  </div>
  <div class="col-lg-8">
    <% if @posts.empty? %>
      <h1>No Search Results!</h1>
    <% else %>
      <h1>Available Jobs</h1>
      <h3>
        <% @posts.each do |post| %>
          <p><%= link_to post.title, post_path(post) %></p>
        <% end %>
      </h3>
    <% end %>
  </div>
  <div class="col-lg-2"></div>
</div>