<br>
<div class="container" >
<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p><span class="glyphicon glyphicon-time"></span>
<%= @post.created_at.strftime("%Y-%m-%d, %T") %></p>
</div>
<br>
